<h1>Cocktails Party!</h1>


<% @cocktails.each do |cocktail| %>

  <h4>

    <%= cocktail.name %>

  </h4>
  <%= link_to "Add doses and ingredients", new_cocktail_dose_path(cocktail.id) %>

<% end %>


